<template>
    <div class="form-container">
        <form @submit.prevent="onSubmit" @reset.prevent="onReset">
            <b-form-group>
                <b-form-input id="input-1" v-model="product.product_name" placeholder="Enter name" required></b-form-input>
                <b-form-select v-model="product.category_id" value-field="category_id" text-field="category_name"
                    :options="getCategories" label="Select Category">
                    <template #first>
                        <b-form-select-option :value="null" disabled>-- Please select an option
                            --</b-form-select-option></template></b-form-select>

            </b-form-group>
            <b-form-group>
                <vue-editor id="input-2" v-model="product.short_description" placeholder="Enter short description"
                    required />

            </b-form-group>
            <b-form-group>
                <vue-editor id="input-3" v-model="product.long_description" placeholder="Enter long escription" required />

            </b-form-group>
            <b-form-group label="Original Image">
                <b-form-file v-model="product.file_original" accept="image/*" :label="`Original Image`"></b-form-file>
            </b-form-group>
            <b-form-group label="Zip File">
                <b-form-file v-model="product.file_zip" accept=".zip" :label="`Zip File`"></b-form-file>
            </b-form-group>
            <b-form-group label="Related Images" class="related-images-group">
                <b-row>
                    <b-col>
                        <div class="file-drop-area bg-light">
                            <input accept="image/*" type="file" multiple name="file-input" id="file-input"
                                class="file-input invisible" @change="onChange" />
                            <label for="file-input" class="w-100 text-center cursor-pointer text-muted m-0 px-3 py-5">
                                <p>
                                    <b-icon-cloud-upload-fill font-scale="3"></b-icon-cloud-upload-fill>
                                </p>
                                <div>
                                    <p class=mb-0> <span class=text-info>choose from computer</span></p>
                                </div>
                            </label>
                        </div>
                    </b-col>
                    <b-col sm="12" xl="8" v-cloak>
                        <b-list-group>
                            <b-list-group-item class="d-inline-flex p-2" v-for="(file, i) in product.file_related" :key="i">
                                <b-form-input placeholder="File name..." v-model="product.file_related[i].fileName"
                                    required />
                                <span v-if=product.file_related[i].fileName
                                    class="d-inline-flex align-items-center text-muted ml-1 mr-3">.{{
                                        product.file_related[i].extension }}</span>
                                <span v-else class="d-inline-flex align-items-center text-muted ml-1 mr-3"></span>

                                <b-button variant="outline-danger" size="sm" @click="removeRelatedImage(i)">
                                    <b-icon-trash></b-icon-trash>
                                </b-button>
                            </b-list-group-item>
                        </b-list-group>
                    </b-col>

                </b-row>
            </b-form-group>
            <div class="action-container">
                <div class="message">
                    <div v-if="getProductsError" class="error">
                        <ul v-if="Array.isArray(getProductsError)">
                            <li v-for="(e, index) in getProductsError" :key="index">
                                {{ e }}
                            </li>
                        </ul>
                        <span v-else>{{ getProductsError }}</span>
                    </div>
                </div>
                <b-button type="submit" variant="primary" :disabled=loading>
                    <b-spinner v-if=loading small type="grow"></b-spinner>
                    Submit</b-button>
                <b-button type="reset" variant="danger">Reset</b-button>

            </div>
        </form>

    </div>
</template>
<script>
import { VueEditor } from "vue2-editor";
import { mapActions, mapGetters } from 'vuex'

export default {
    name: "product-crud",
    components: {
        VueEditor
    },
    data() {
        return {
            product: {
                product_name: "",
                short_description: "",
                long_description: "",
                file_related: [],
                file_zip: null,
                file_original: null,
                category_id: null,
                product_id: null,
                enableDisable: 0

            },
            loading: false

        };
    },
    computed: {
        ...mapGetters([
            'getCategories',
            'getProductsError'
        ])
    },
    methods: {
        ...mapActions([
            'saveProduct',
            'fetchCategories',
            'resetErrorProducts'
        ]),
        removeRelatedImage(index) {
            this.product.file_related.splice(index, 1);
        },
        async onSubmit() {
            const filesR = this.product.file_related.map(item =>
                item.file
            );
            this.loading = true;
            const response = await this.saveProduct({
                product_name: this.product.product_name,
                short_description: this.product.short_description,
                long_description: this.product.long_description,
                file_related: filesR,
                file_zip: this.product.file_zip,
                file_original: this.product.file_original,
                category_id: this.product.category_id,
                product_id: this.product.product_id,
                enableDisable: 0
            })
            const msg = response ? "Product saved" : "Product error";
            const variant = response ? "primary" : "danger";
            this.makeToast(msg, variant);
            this.loading = false;
        },
        makeToast(msg, variant) {
            this.$bvToast.toast(msg, {
                variant: variant,
                solid: true
            })
        },
        onChange(event) {
            const fileArray = [...event.target.files];  //put the files in a temporary array
            fileArray.forEach((file) => {
                const fileName = file.name.replace(/\.[^/.]+$/, "");  //extract filename (no extension) from the file full name
                const extension = file.name.split('.').pop();         //extract extensionfrom the file fullname
                this.product.file_related.push({ fileName, extension, file });      //store selected files and additional data in our array
            })
        },
        onReset() {
            this.product = {
                product_name: null,
                short_description: null,
                long_description: null,
                file_related: [],
                file_zip: null,
                file_original: null,
                category_id: null,
                product_id: null,
                enableDisable: 0
            };
            this.resetErrorProducts();
            this.loading = false;
        },

    },
    mounted() {
        this.fetchCategories()
    }
};
</script>

<style lang="scss">
.form-container {
    border: 2px solid #3b6fa3;
    border-radius: 4px;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    height: calc(80vh - 20px);
    margin: 15px;

    .related-images-group {
        border: 2px solid #ced4da;
        border-radius: 4px;
        padding: 10px;
        margin: 15px;
    }

    .action-container {
        display: flex;
        align-items: center;
        margin-right: 10px;
        justify-content: end;
    }

    .action-container>* {
        margin-left: 1rem;
    }

    .message {
        .error {
            padding: 25px;
            color: #e73e01;
        }
    }

}
</style>