<template>
  <div class="admin-panel">
    <div class="nav"><SideBar></SideBar></div>

    <div class="main"><router-view></router-view></div>
  </div>
</template>

<script>
import SideBar from "../Admin/sideBar.vue";

export default {
  name: "Admin-Panel",
  components: { SideBar },
};
</script>

<style scoped lang="scss">
.admin-panel {
  height: calc(100vh - 70px);
  width: 100%;
  margin-top: 70px;
  position: relative;

  .nav {
    position: absolute;
    width: 200px;
    height: 100%;
    padding-top: 50px;
    background: #fff;
    box-shadow: 2px 5px 6px #f8f1f1b0;
  }
  .main {
    display: block;
    height: 100%;
    margin-left: 200px;
    z-index: 7;
    padding: 2%;
    background: #fbfbfb6e;
  }
}
</style>
