<template>
  <div class="row">
    <div id="MainMenu">
      <a href="#product" class="list-group-item custom-link" data-toggle="collapse" data-parent="#MainMenu">Gestion des
        produits <i class="fa fa-caret-down"></i></a>
      <div class="collapse" id="product">
        <router-link tag="a" to="/admin/product/add" class="list-group-item custom-link">
          Ajouter un produit
        </router-link>
        <router-link tag="a" to="/admin/product/list" class="list-group-item custom-link">
          Liste des produits
        </router-link>
      </div>

      <router-link tag="a" to="/admin/category" class="list-group-item custom-link">
        Gestion des catégories
      </router-link>
    </div>
  </div>
</template>
<style scoped>
.custom-link {
  color: black;
  font-weight: 700;
    border: none;

}
</style>

