<template>
  <div id="app">
    <nav-bar></nav-bar>
    <router-view></router-view>
  </div>
</template>

<script>
import navBar from "./views/navBar.vue";

export default {
  components: { navBar },
  name: "App",
  // mounted() {
  //   // Load and execute the scripts
  //   const scripts = [
  //     "public/js/jquery-3.4.1.min.js",
  //     "public/js/popper.min.js",
  //     "public/js/bootstrap.js",
  //     "public/js/custom.js",
  //   ];

  //   scripts.forEach((script) => {
  //     console.log("tt");
  //     const scriptElement = document.createElement("script");
  //     scriptElement.src = script;
  //     document.head.appendChild(scriptElement);
  //   });
  // },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  display: flex;
  position: relative;
  height: 100%;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f7444e2e;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #f7444e;
  border-radius: 7px;
}
.custom-body {
  top: 70px;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}
</style>
